<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Java Sorting Algorithms</title>
    <!-- Bootstrap - CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap Icons - CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <!-- Color Mod -->
    <script src="/JavaAlgorithms/resources/js/color-mode.js"></script>

    <!-- amChart -->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/hierarchy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

    <!-- Favicons : 웹 아이콘 설정 -->
    <link rel="apple-touch-icon" href="/JavaAlgorithms/resources/icon/java-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/JavaAlgorithms/resources/icon/java-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/JavaAlgorithms/resources/icon/java-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="https://getbootstrap.kr/docs/5.3/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="https://getbootstrap.kr/docs/5.3/assets/img/favicons/safari-pinned-tab.svg"
        color="#712cf9">
    <link rel="icon" href="/JavaAlgorithms/resources/icon/java.ico">
    <meta name="theme-color" content="#712cf9">
    <link href="/JavaAlgorithms/resources/css/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/JavaAlgorithms/resources/css/dashboard.css" rel="stylesheet">

    <!-- Prism CSS -->
    <link href="/JavaAlgorithms/resources/css/prism.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="/JavaAlgorithms/resources/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div data-include-path="/JavaAlgorithms/templates/layouts/header.html"></div>
    <!-- Main DOM -->
    <div class="container-fluid">
        <div class="row">
            <div data-include-path="/JavaAlgorithms/templates/layouts/nav.html"></div>
            <!-- MainBoard -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-mds4" id="dashboard">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1>Quick Sort</h1>
                </div>
                <p><strong>Quick Sort</strong> is a highly efficient sorting algorithm based on the divide and conquer
                    strategy. It first selects a pivot element from the array and partitions the other elements into two
                    sub-arrays according to whether they are less than or greater than the pivot. The sub-arrays are
                    then recursively sorted.</p>

                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2>History</h2>
                </div>
                <p>Quick Sort was developed by Tony Hoare in 1959. It is widely used for sorting large datasets
                    efficiently and is one of the most commonly used sorting algorithms in practice.</p>

                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2>Working Principle</h2>
                </div>
                <p>Consider an array to be sorted: <code>[5, 3, 8, 4, 2]</code>.</p>

                <h5>Step.1</h5>
                <ul>
                    <li><code>[5, 3, 8, 4, 2]</code> (Initial array)</li>
                    <li>Select a pivot element, for example, 4</li>
                    <li>Partition the array into two sub-arrays: <code>[3, 2]</code> and <code>[5, 8]</code></li>
                    <li>Recursively sort each sub-array</li>
                </ul>

                <h5>Step.2</h5>
                <ul>
                    <li><code>[3, 2]</code> (Sorted sub-array)</li>
                    <li>No action needed as it contains only two elements</li>
                </ul>

                <h5>Step.3</h5>
                <ul>
                    <li><code>[5, 8]</code> (Sorted sub-array)</li>
                    <li>No action needed as it contains only two elements</li>
                </ul>

                <h5>Result</h5>
                <p><code>[2, 3, 4, 5, 8]</code> (sorted)</p>

                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2>Time Complexity</h2>
                </div>
                <ul>
                    <li><strong>Time complexity:</strong> \(O(n \log n)\) on average, \(O(n^2)\) in the worst case</li>
                </ul>

                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2>Summary</h2>
                </div>
                <p>Quick Sort is a highly efficient sorting algorithm with an average time complexity of \(O(n \log
                    n)\). However, it can degrade to \(O(n^2)\) in the worst case. Despite this, Quick Sort is widely
                    used for sorting large datasets due to its efficiency. This page has provided an explanation of
                    Quick Sort, including its definition, working principle, time complexity, and history.</p>


                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2>Java Code</h2>
                </div>

                <div class="collapse show" id="collapse-code">
                    <pre class="line-numbers">
        <code class="language-java">public void sort() {
            int[] list = super.getList();
            divide(list, 0, list.length - 1);
        }
    
        public void divide(int[] list, int min, int max) {
            if (min < max) {
                int pivot = getPivot(list, min, max);
                divide(list, min, pivot);
                divide(list, pivot + 1, max);
            }
            return;
        }
    
        private int getPivot(int[] list, int min, int max) {
            int pivot = list[(min + max) / 2];
    
            while (true) {
                while (list[min] < pivot)
                    min++;
                while (list[max] > pivot && min <= max)
                    max--;
                if (min >= max)
                    return max;
                swap(min, max);
            }
        }</code>
                    </pre>
                </div>

                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2 id="chart_area">Visualization</h2>
                    <i class="bi bi-gear-fill" data-bs-toggle="collapse" href="#collapse-setting" role="button"
                        aria-expanded="false" aria-controls="collapse"></i>
                </div>
                <div class="collapse" id="collapse-setting">
                    <div class="card card-body">
                        <div data-include-path="/JavaAlgorithms/templates/sorting/ArraySetting.html">
                        </div>

                        <input type="range" class="form-range" min="100" max="2000" value="500" id="speed">
                    </div>
                </div>

                <div class="collapse show" id="collapse-chart">
                    <!-- Bar Chart -->
                    <div class="d-flex flex-column justify-content-center">
                        <canvas class="my-4" id="barChart"
                            style="display: block; box-sizing: border-box; height: 445px; width: 1056px;"></canvas>
                        <div class="row mx-auto p-2">
                            <div class="col">
                                <button type="button" class="btn btn-primary" id="bar_startBtn" onclick="bar_start()">
                                    <i class="bi bi-play-fill"></i>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-primary" id="bar_pauseBtn" onclick="bar_pause()">
                                    <i class="bi bi-pause-fill"></i>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-primary" id="bar_resetBtn" onclick="bar_reset()">
                                    <i class="bi bi-arrow-clockwise"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- Prism JS -->
    <script src="/JavaAlgorithms/resources/js/prism.js"></script>

    <script type="text/javascript" src="/JavaAlgorithms/resources/js/includeHTML.js"></script>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="/JavaAlgorithms/resources/js/global.js"></script>
    <script type="text/javascript" src="/JavaAlgorithms/resources/js/sorting.js"></script>
    <script>
        function bar_start() {
            now = new Date().getTime();
            var data = [...myBarChart.chart.data.datasets[0].data];
            myBarChart.running = true;

            quickSort_pivot(data, 0, data.length - 1);
        }

        function pivot(data, min, max) {
            if (min < max) {
                var pivot = quickSort_partition(data, min, max);
                quickSort_pivot(data, min, pivot);
                quickSort_pivot(data, pivot + 1, max);
            }
            return;
        }
        function partition(data, min, max) {
            var pivot = data[Math.floor((min + max) / 2)]; // 부분리스트의 중간 요소를 피벗으로 설정
            while (true) {
                while (data[min] < pivot) min++;
                while (data[max] > pivot && min <= max) max--;
                if (min >= max) return max;
                myBarChart.swap(data, min, max);
            }

        }
    </script>
    <!-- Chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.umd.js"
        integrity="sha512-7DgGWBKHddtgZ9Cgu8aGfJXvgcVv4SWSESomRtghob4k4orCBUTSRQ4s5SaC2Rz+OptMqNk0aHHsaUBk6fzIXw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap - JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>