<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Java Sorting Algorithms</title>
    <!-- Bootstrap - CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap Icons - CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <!-- Color Mod -->
    <script src="/JavaAlgorithms/resources/js/color-mode.js"></script>

    <!-- amChart -->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/hierarchy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

    <!-- Favicons : 웹 아이콘 설정 -->
    <link rel="apple-touch-icon" href="/JavaAlgorithms/resources/icon/java-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/JavaAlgorithms/resources/icon/java-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/JavaAlgorithms/resources/icon/java-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="https://getbootstrap.kr/docs/5.3/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="https://getbootstrap.kr/docs/5.3/assets/img/favicons/safari-pinned-tab.svg"
        color="#712cf9">
    <link rel="icon" href="/JavaAlgorithms/resources/icon/java.ico">
    <meta name="theme-color" content="#712cf9">
    <link href="/JavaAlgorithms/resources/css/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/JavaAlgorithms/resources/css/dashboard.css" rel="stylesheet">

    <!-- Prism CSS -->
    <link href="/JavaAlgorithms/resources/css/prism.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="/JavaAlgorithms/resources/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div data-include-path="/JavaAlgorithms/templates/layouts/header.html"></div>
    <!-- Main DOM -->
    <div class="container-fluid">
        <div class="row">
            <div data-include-path="/JavaAlgorithms/templates/layouts/nav.html"></div>
            <!-- MainBoard -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-mds4" id="dashboard">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1>Shell Sort</h1>
                </div>
                <p><strong>Shell Sort</strong>, also known as diminishing increment sort, is an in-place
                    comparison-based sorting algorithm. It improves upon the insertion sort algorithm by breaking the
                    original list into smaller sublists and then sorting these sublists using insertion sort. The unique
                    feature of Shell Sort is the way in which the elements are compared and moved.</p>

                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2>History</h2>
                </div>
                <p>Shell Sort was introduced by Donald Shell in 1959. It was the first sorting algorithm to break the
                    quadratic time barrier. Although not as fast as some other sorting algorithms, it performs
                    significantly better than insertion sort and bubble sort.</p>

                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2>Working Principle and Example</h2>
                </div>
                <p>Consider an array to be sorted: <code>[12, 34, 54, 2, 3]</code>.</p>

                <h5>Step.1</h5>
                <ul>
                    <li>Choose a gap sequence (e.g., Knuth sequence)</li>
                    <li>For the given example, let's choose a gap sequence: 4, 2, 1</li>
                </ul>

                <h5>Step.2</h5>
                <ul>
                    <li>Iterate over the elements of the array for each gap size</li>
                    <li>For the given example:</li>
                    <ul>
                        <li>For gap size 4: <code>[3, 2, 54, 12, 34]</code></li>
                        <li>For gap size 2: <code>[3, 2, 12, 54, 34]</code></li>
                        <li>For gap size 1: <code>[2, 3, 12, 34, 54]</code></li>
                    </ul>
                </ul>

                <h5>Result</h5>
                <p><code>[2, 3, 12, 34, 54]</code> (sorted)</p>

                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2>Time Complexity</h2>
                </div>
                <ul>
                    <li><strong>Time complexity:</strong> \(O(n \log^2 n)\)</li>
                </ul>

                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2>Summary</h2>
                </div>
                <p>Shell Sort is an efficient sorting algorithm that is especially useful for medium-sized lists. It
                    improves upon the insertion sort algorithm by breaking the list into smaller sublists and then
                    sorting these sublists independently using an insertion sort. Despite its slightly higher time
                    complexity than some other algorithms, it is still a practical choice for many sorting tasks.</p>

                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2>Java code</h2>
                </div>

                <div class="collapse show" id="collapse-code">
                    <pre class="line-numbers">
        <code class="language-java">public void sort() {
            int[] list = super.getList();
            int gap = list.length / 2;
    
            while (gap > 0) {
                for (int left = 0; left < gap; left++) {
                    for (int i = left + gap; i < list.length; i += gap) {
                        int target = i;
                        for (int j = i - gap; j >= left; j -= gap) {
                            if (list[target] < list[j])
                                swap(target--, j);
                            else
                                break;    
                        }
                    }    
                }
                gap /= 2;
            }
        }</code>
                    </pre>
                </div>

                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2 id="chart_area">Visualization</h2>
                    <i class="bi bi-gear-fill" data-bs-toggle="collapse" href="#collapse-setting" role="button"
                        aria-expanded="false" aria-controls="collapse"></i>
                </div>
                <div class="collapse" id="collapse-setting">
                    <div class="card card-body">
                        <div data-include-path="/JavaAlgorithms/templates/sorting/ArraySetting.html">
                        </div>

                        <input type="range" class="form-range" min="100" max="2000" value="500" id="speed">
                    </div>
                </div>

                <div class="collapse show" id="collapse-chart">
                    <!-- Bar Chart -->
                    <div class="d-flex flex-column justify-content-center">
                        <canvas class="my-4" id="barChart"
                            style="display: block; box-sizing: border-box; height: 445px; width: 1056px;"></canvas>
                        <div class="row mx-auto p-2">
                            <div class="col">
                                <button type="button" class="btn btn-primary" id="bar_startBtn" onclick="bar_start()">
                                    <i class="bi bi-play-fill"></i>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-primary" id="bar_pauseBtn" onclick="bar_pause()">
                                    <i class="bi bi-pause-fill"></i>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-primary" id="bar_resetBtn" onclick="bar_reset()">
                                    <i class="bi bi-arrow-clockwise"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- Prism JS -->
    <script src="/JavaAlgorithms/resources/js/prism.js"></script>

    <script type="text/javascript" src="/JavaAlgorithms/resources/js/includeHTML.js"></script>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="/JavaAlgorithms/resources/js/global.js"></script>
    <script type="text/javascript" src="/JavaAlgorithms/resources/js/sorting.js"></script>
    <script>
        function bar_start() {
            now = new Date().getTime();
            var data = [...myBarChart.chart.data.datasets[0].data];
            myBarChart.running = true;

            var gap = data.length / 2;
            while (gap > 0) {
                for (var left = 0; left < gap; left++) {
                    for (var i = left + gap; i < data.length; i += gap) {
                        var target = i;
                        for (var j = i - gap; j >= left; j -= gap) {
                            if (data[target] < data[j]) {
                                myBarChart.swap(data, target--, j);
                            } else {
                                break;
                            }
                        }
                    }
                }
                gap = Math.floor(gap / 2);
            }
        }
    </script>
    <!-- Chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.umd.js"
        integrity="sha512-7DgGWBKHddtgZ9Cgu8aGfJXvgcVv4SWSESomRtghob4k4orCBUTSRQ4s5SaC2Rz+OptMqNk0aHHsaUBk6fzIXw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap - JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>